@import "./styles/projects_section.css";
@import "./styles/sections.css";
@import "./styles/border_mask.css";
@import "./styles/home_section.css";
@import "./styles/profile_links.css";
@import "./styles/projects_section.css";
@import "./styles/workexp_section.css";

:root {
  --primary: #e02633;
  --primary_bg: #D2042D;
  --cherry: #D2042D;
  --rose: #FF033E;
}

* {
  margin: 0;
}

a {
  color: #136cab;
}


body ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(132, 129, 129);
  outline: 1px solid rgb(37, 37, 37);
}

#bg_image {
  background-image: url(./images/keyboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  /* background-attachment: fixed; */
}

body {
  margin: 0 0;
  font-family: "Open Sans", Geneva, Verdana, sans-serif;
  color: #d7dee3;
  line-height: 1.8;
  background-color: black;
  /* width: 100vw; */
}

/* Apparently these 2 aren't even required anymore */

/* @media screen and (max-width: 450px) {
  body {
    max-width: 100em;
  }
}
@media screen and (min-width:450px) and (max-width: 600px) {
  body {
    max-width: 70em;
  }
} */