/* * {
  border: 1px solid red;
} */
body {
  margin: 0 auto;
  max-width: 55em;
  padding: 0;
  /* border: 1px solid   red; */
  font-family: "Open Sans", Geneva, Verdana, sans-serif;
  color: #d7dee3;
  line-height: 1.8;
  background-color: #121212;
}
#home-page-container {
  position: relative;
  display: flex;
  border: 0.8vh solid red;
  max-width: 55em;
  padding: 0rem 6em;
  /* align-items: center; */
  /* border-radius: 10px; */
  justify-content: center;
  flex-direction: column;
  height: 98.4vh;
  /* padding: 0 1rem; */
  /* margin: auto 0; */
}
#mask-top {
  position: absolute;
  top: -0.8vh;
  left: 20%;
  width: 90%;
  background-color: #121212;
  height: 0.8vh;
}
#mask-right {
  position: absolute;
  right: -0.8vh;
  top: 20%;
  height: 90%;
  background-color: #121212;
  width: 0.8vh;
}
#mask-bottom {
  position: absolute;
  bottom: -0.8vh;
  right: 20%;
  width: 90%;
  background-color: #121212;
  height: 0.8vh;
}
#mask-left {
  position: absolute;
  left: -0.8vh;
  bottom: 20%;
  height: 90%;
  background-color: #121212;
  width: 0.8vh;
}
#name-heading {
  font-family: "Righteous", cursive;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
  /* padding: 0; */
  line-height: 0;
  /* margin-bottom: 0; */
  min-height: 3rem;
  /* display: fixed; */
  /* padding: 0; */
  color: white;
}
#designation {
  margin: 0;
  font-family: "Roboto Slab", sans;
  font-size: 1.2rem;
  color: white;
}
#profile_links {
  display: flex;
  flex-wrap: wrap;
}

.profile_link_icon {
  height: 40px;
  width: 40px;
}

.profile_link_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  padding: 0.2rem;
  margin: 0rem 0.5rem 0.5rem 0rem;
  padding-right: 1rem;
  font-family: "Open Sans";
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1rem;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.profile_link_icon {
  padding-right: 0.5rem;
}
#github_button {
  color: #000000;
}
#github_button:hover {
  background-color: #000000;
  color: white;
  filter: invert(100%);
}

#resume_icon {
  height: 40px;
  width: 40px;
  margin-right: 0.5rem;
  background-image: url(./images/resume.svg);
  background-repeat: no-repeat;
  border: none;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 50% 50%;
}

#resume_button {
  color: #4e00d4;
  background-color: white;
}
#resume_button:hover #resume_icon {
  background-image: url(./images/resume_inverted.svg);
  /* border: 4px solid #ffffff; */
}
#resume_button:hover {
  background-color: #4e00d4;
  color: white;

  /* filter: invert(100%); */
}
#linkedin_button {
  color: #0a66c2;
}
#linkedin_button:hover {
  background-color: #0a66c2;
  color: white;
}

/* color: #566b78; */
