@import "./styles/profile_links.css";
@import "./styles/border_mask.css";
@import "./styles/home_section.css";
@import "./styles/workexp_section.css";
:root {
  --primary: #e02633;
}
* {
  margin: 0;
}
a {
  color: #136cab;
}

body ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(37, 37, 37);
  outline: 1px solid rgb(37, 37, 37);
}

html {
  background-image: url(./images/keyboard.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
body {
  margin: 0 auto;
  font-family: "Open Sans", Geneva, Verdana, sans-serif;
  color: #d7dee3;
  line-height: 1.8;
}

@media screen and (max-width: 600px) {
  body {
    max-width: 70em;
  }
}
