/*The CSS for the background image and some other related stuff is in the styles.css file,
in the body and html
*/

.padded_centered {
  max-width: 55em;
  margin: 0 auto;
  padding: 1rem;
}

/*This is used to (basically) center the home section div*/
#home {
  position: relative;
  display: flex;
  border: 0;
  margin: 0;
  background-color: rgba(61, 74, 120, 0.443);

  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#home_section {
  padding: 0rem 6em;
  background-color: #121212d8;
}

#name_heading {
  font-family: "Righteous", cursive;
  font-size: 2.5rem;
  margin-top: 0;
  display: flex;
  font-weight: 900;
  margin-bottom: 0;

  min-height: 3rem;

  color: white;
}

#designation {
  margin: 0;
  font-family: "Cinzel Decorative", sans;
  font-size: 1.2rem;
  color: var(--primary);
}

@media screen and (max-width: 300px) {
  #name_heading {
    font-size: 2rem;
  }

  #home_section {
    max-width: 100em;
    padding: 0 0;
  }
}

@media screen and (min-width:300px) and (max-width: 450px) {
  #home_section {
    max-width: 100em;
    padding: 0 0;
  }


}

@media screen and (min-width:450px) and (max-width: 600px) {
  #home_section {
    max-width: 70em;
    padding: 0 2rem;
  }

}

/* @media screen and (min-width:600px) and (max-width: 1200px) {
  
  #name_heading{

  }
}

@media screen and (min-width:1200px) {
  #name_heading{
    
  }
} */