#profile_links {
  display: flex;
  flex-wrap: wrap;
}

.profile_link_icon {
  height: 40px;
  width: 40px;
}

.profile_link_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  padding: 0.2rem;
  margin: 0rem 0.5rem 0.5rem 0rem;
  padding-right: 1rem;
  font-family: "Open Sans";
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1rem;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.profile_link_icon {
  padding-right: 0.5rem;
}
#github_button:hover {
  box-shadow: 0 0 8px 1.5px #ffffff;
}

#github_button {
  background-color: #121212;
  color: white;
}
#github_button img {
  filter: invert(100%);
}

#resume_button {
  background-color: #4e00d4;
  color: white;
}
#resume_icon {
  background-image: url(../images/resume_inverted.svg);
  height: 40px;
  width: 40px;
  margin-right: 0.5rem;

  background-repeat: no-repeat;
  border: none;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 50% 50%;
}
#resume_button:hover {
  box-shadow: 0 0 8px 1.5px #cbb6fffd;
}

#linkedin_button:hover {
  box-shadow: 0 0 8px 1.5px #7cb4f1fd;
}
#linkedin_button {
  background-color: #0a66c2;
  color: white;
}
