#projects_and_pors_cards_and_description {
    margin-top: 1em;
    display: flex;
}

.project_card {
    padding: 1em;
    transition: 0.5s ease;
    ;
}

.project_card h1 {
    font-family: "Righteous", sans-serif;
    font-weight: 900;
    font-size: 2.3rem;
    color: rgb(215, 220, 225);
    letter-spacing: 1.2px;
}

.por_title {
    font-family: "Open Sans", sans-serif;
    color: var(--primary);
    letter-spacing: 1.2px;
    font-size: 1.2rem;
}

.project_card:hover {
    margin-left: 3em;
    padding: 1em;
    transition: 0.5s ease;
    /* transform: perspective(1000px) rotateY(10deg); */
}

.project_por_points {
    /* color: white; */
    color: rgb(202, 211, 220);
}

.tech_stack_header {
    font-family: "Righteous", sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    color: lightslategray;
    letter-spacing: 1.2px;
}

.tech_stack_item {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    color: lightslategray;
}