#projects_and_pors_cards_and_description {
    margin-top: 1em;
    display: flex;
}

.project_card {
    padding: 1em;
    transition: 0.5s ease;
    ;
}

.project_card h1 {
    font-family: "Righteous", sans-serif;
    font-weight: 900;
    font-size: 2.3rem;
    color: white;
    letter-spacing: 1.2px;
}

.por_title {
    font-family: "Open Sans", sans-serif;
    color: var(--primary);
    letter-spacing: 1.2px;
    font-size: 1.2rem;
}

.project_card:hover {
    margin-left: 3em;
    padding: 1em;
    transition: 0.5s ease;
    ;
}

.project_por_points {
    color: white;
}

.tech_stack_header {
    font-family: "Righteous", sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    color: white;
    letter-spacing: 1.2px;
}