.section {
    padding: 2rem 8rem;
    padding-bottom: 0;
    /* background-color: rgb(28, 27, 27); */
    margin: 0;
    border: none;
    /* overflow: hidden; */
    /* color: white */
}

.separator_line {
    content: "";
    display: block;
    position: relative;
    margin: auto 20px;
    margin-right: 50px;
    background-color: rgb(255, 56, 56);
    /* margin: 1rem 0; */
    flex: 1;
    height: 1px;
}

.section_title {
    /*h1 size*/
    display: flex;
    font-size: 2rem;
    font-family: "Cinzel Decorative", sans-serif;
    /* color: rgb(255, 255, 255) */
    color: var(--primary);
}

@media screen and (min-width:600px) and (max-width: 1200px) {
    .section {
        padding: 2rem 6rem;
    }
}

@media screen and (max-width: 600px) {
    .section {
        padding: 2rem 1.5rem;
    }
}