#workexp {
    margin-top: 1em;
    max-width: 100vw;
    background-color: black;

    color: white;
    overflow: hidden;
    background-image: url(/images/waveL.png);
    background-position: 20% 20%;
    filter: hue-rotate(15deg);
    transition: 0.5s all ease;
}


.workexp_chooser_item button {
    background-color: rgba(195, 247, 255, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
    /* color: white; */
    font-size: 1rem;
    /* font-weight: bold; */
    font-family: "Roboto Slab", sans-serif;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.5em 0.5em;
    border-radius: 0.5em;
    transition: 0.5s all ease;
    color: #000000;
}

.workexp_chooser_item button:hover {
    background-color: var(--bluegray);
    color: black;
}

#workexp_cards_container {
    /* background-image: url(../images/waveL.png); */
    /* background-color: red; */
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em auto;
    justify-content: center;
    align-items: center;
}


#workexp_chooser {
    /* vertical horizontal */
    /* height: 300px;
    margin: auto 0; */
    padding-right: 40px;
    /* height: 100%; */
    align-items: center;
}

.workexp_chooser_item button {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.workexp_chooser_item.workexp_chooser_item_selected button {
    background-color: var(--vista);
    color: var(--light-bg);
    /* backdrop-filter: blur(10px); */

}


.workexp_card {
    opacity: 0;
    height: 0;
    width: 0;

}

/* #workexp_chooser{

    display: flex;
    flex-direction: row;
}
 */



.workexp_title {
    font-size: 2.2em;
    margin: 0.5rem 0em 0rem 0.5rem;
    font-family: "Righteous", sans-serif;
    font-weight: 900;
}

.workexp_subtitle {
    color: var(--primary);
    transform: translate(0rem, -0.5rem);
    margin: 0rem 0rem 0rem 0.5rem;
    font-weight: bold;
    font-size: 0.85rem;
}

.workexp_timespan {
    margin-left: 0.5rem;
    font-weight: normal;
    color: var(--moonstone);
}

.workexp_card.workexp_card_selected {


    height: auto;
    width: auto;
    opacity: 1;
    /* transition: all 0.25s  ease-out; */
    margin: 0.8em;
    padding: 1em;
    max-width: 60%;
    border-radius: 2em 0 2em 0em;
    background-color: #121212a4;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-size: 0.85rem;
    min-width: 200px;
    flex: none;
    margin-bottom: 2em;

}

.workexp_card h4,
h5,
h6 {
    font-size: 0.85rem;
}

.workexp_card .tech_stack_item {
    font-size: 0.9rem;
}


@media screen and (max-width: 900px) {

    #workexp_cards_container {
        padding: 0;
        margin: 0;
        height: 600px;

    }

    #workexp {
        background-position: center;
    }


    .workexp_card {
        padding: 0;
        margin: 0;
        height: 0;
        width: 0;
    }

    .workexp_card.workexp_card_selected {
        padding: 0.5em 0em;
        margin: 10px 0;
        padding: 1em 1em;
        padding-left: 0.5em;
        max-width: 100%;
        width: auto;


    }



}



@media screen and (max-width: 900px) {

    #workexp_chooser {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #workexp_chooser .workexp_chooser_item {
        margin: 0.5em 0.5em;
    }
}


@media screen and (max-width:800px) {
    #workexp_cards_container {
        height: 700px;
    }
}



@media screen and (max-width:600px) {
    #workexp_cards_container {
        height: auto;
        max-height: unset;

    }

}