@import url('./styles-common.css');

/* Light Mode (Default) */
:root {
    --background-color: #fff;
    --text-color: #333;
    --h1-color: #000;
    --h2-color: #464646;
    --link-color: #405fdb;
    --link-hover-color: rgb(44, 21, 144);
    --cli-label-color: #444;
    --mode-toggle-border-color: #ccc;
    --mode-toggle-background-color: white;
    --mode-toggle-hover-background-color: #f5f5f5;
    --motd-color: #979797;
    --cli-exp-dates: #667;
}

/* Dark Mode */
body.dark-mode {
    --background-color: #202025;
    --text-color: #eee;
    --h1-color: #ffffff;
    --h2-color: #eaedf1;
    --link-color: #b6d9ff;
    --link-hover-color: #83abf4;
    --cli-label-color: rgb(189, 213, 222);
    --mode-toggle-border-color: #534b4b;
    --mode-toggle-background-color: #1a1c1f;
    --mode-toggle-hover-background-color: #2a2d31;
    --motd-color: #c9d8f0;
    --cli-exp-dates: #cdd7e0;
}

* {
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

a {
    position: relative;
    text-decoration: none;
    color: var(--link-color);
}


body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'Courier New', monospace;
    margin: 0;
    line-height: 1.6;
    max-width: 700px;
    margin: auto;
    padding: 1rem;
}


h1,
h2 {
    margin-top: 2rem;
}

h1 {
    color: var(--h1-color);
}

h2 {
    color: var(--h2-color);
}



li {
    margin-bottom: 1rem;
}

a:hover {
    color: var(--link-hover-color);
}

/* CLI-style formatting */


.cli-label {
    display: inline-block;
    width: 10ch;
    min-width: 10ch;
    color: var(--cli-label-color);
    font-weight: bold;
}

section {
    margin-top: 2rem;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}




.cli-project {
    margin-bottom: 1.5rem;
}

.cli-name {
    font-weight: bold;
    color: var(--h1-color);
}


.cli-meta {
    margin-left: 1ch;
    color: var(--cli-label-color);
    margin-bottom: 0.8rem;
}



/* Button styling */
header {
    text-align: right;
    padding: 0 2rem;
}

.toggle-button {
    font-family: monospace;
    background: none;
    border: 1px solid var(--mode-toggle-border-color);
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    font-size: 0.9rem;

    z-index: 1000;
    background-color: var(--mode-toggle-background-color);
    color: var(--h1-color);
}



#styleToggle:hover,
#modeToggle:hover,
#themeToggle:hover {
    background-color: var(--mode-toggle-hover-background-color);
}


.motd {
    color: var(--motd-color);
}

.motd.plain-mode {
    font-style: italic;
    border-left: 4px solid var(--mode-toggle-border-color);
    padding-left: 1rem;
}

.profile_link_button {
    padding: 0.2rem;
    font-weight: bold;

}

.terminal-intro {
    color: var(--motd-color);
}

body {
    padding-top: 2rem;
}



.cli-project {
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

.cli-desc {
    margin-left: 1ch;
    color: var(--cli-label-color);
}


/* === Work Experience === */
.cli-workexp {
    margin-bottom: 2rem;
    line-height: 1.5;
}

.cli-exp-header {
    font-weight: bold;
    color: var(--text-color);
}

.cli-exp-dates {
    color: var(--cli-exp-dates);
}


.cli-exp-point {
    margin-left: 3ch;
    padding-left: 1ch;
    color: var(--text-color);
}